
#buttons{
    margin-left: 14%;
}

#align{
    margin-left: 43%;
}
/* designing of tables*/
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  
  th:last-child, td:last-child {
    border-right: none;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

/* designing of display of packets recieved info*/
#message
{
    text-align: center;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*designing of display of the message "calculate shortest distance and path" */
#calculatepath
{
    text-align: center;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
